@model IEnumerable<SurveyApplication.TblUserAnswer>
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                Question
            </th>
            <th>
                Answer
            </th>
            <th>
                User Name
            </th>
            <th></th>
        </tr>
    @foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TblQuestion.Question)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserAnswer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TblUser.FirstName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.AnswerId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.AnswerId })
        </td>
    </tr>
    }
    </table>
</body>
</html>
