@model SurveyApplication.Models.RegistrationViewModel
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
   
    <html>
    <head>
        <title>Registration</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet" />
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css" />
        <style>
            .register {
                background: -webkit-linear-gradient(left, #3931af, #00c6ff);
                margin-top: 9%;
                padding: 3%;
            }
            .register-left {
                text-align: center;
                color: #fff;
                margin-top: 4%;
            }
                .register-left input {
                    border: none;
                    border-radius: 1.5rem;
                    padding: 2%;
                    width: 60%;
                    background: #f8f9fa;
                    font-weight: bold;
                    color: #383d41;
                    margin-top: 30%;
                    margin-bottom: 3%;
                    cursor: pointer;
                }
            .register-right {
                background: #f8f9fa;
                border-top-left-radius: 10% 50%;
                border-bottom-left-radius: 10% 50%;
            }
            .register-left img {
                margin-top: 15%;
                margin-bottom: 5%;
                width: 25%;
                -webkit-animation: mover 2s infinite alternate;
                animation: mover 1s infinite alternate;
            }
            @@-webkit-keyframes mover {
                0% {
                    transform: translateY(0);
                }
                100% {
                    transform: translateY(-20px);
                }
            }
            @@keyframes mover {
                0% {
                    transform: translateY(0);
                }
                100% {
                    transform: translateY(-20px);
                }
            }
            .register-left p {
                font-weight: lighter;
                padding: 12%;
                margin-top: -9%;
            }
            .register .register-form {
                padding: 10%;
                margin-top: 10%;
            }
            .btnRegister {
                float: right;
                margin-top: 10%;
                border: none;
                border-radius: 1.5rem;
                padding: 2%;
                background: #0062cc;
                color: #fff;
                font-weight: 600;
                width: 50%;
                cursor: pointer;
            }
            .register .nav-tabs {
                margin-top: 3%;
                border: none;
                background: #0062cc;
                border-radius: 1.5rem;
                width: 28%;
                float: right;
            }
                .register .nav-tabs .nav-link {
                    padding: 2%;
                    height: 34px;
                    font-weight: 600;
                    color: #fff;
                    border-top-right-radius: 1.5rem;
                    border-bottom-right-radius: 1.5rem;
                }
                    .register .nav-tabs .nav-link:hover {
                        border: none;
                    }
                    .register .nav-tabs .nav-link.active {
                        width: 100px;
                        color: #0062cc;
                        border: 2px solid #0062cc;
                        border-top-left-radius: 1.5rem;
                        border-bottom-left-radius: 1.5rem;
                    }
            .register-heading {
                text-align: center;
                margin-top: 8%;
                margin-bottom: -15%;
                color: #495057;
            }
            .card {
                display: block !important;
            }
            .pb-5, .py-5 {
                padding-bottom: unset !important;
            }
            .pt-5, .py-5 {
                padding-top: unset !important;
            }
            .text-center {
                text-align: unset !important;
            }
            html {
                height: -webkit-fill-available;
            }
        </style>
    </head>
    <body>
        <section class="pt-5 pb-5 mt-0 align-items-center d-flex bg-dark" style="min-height: 100vh; background-size: cover; background-image: url(https://images.unsplash.com/photo-1477346611705-65d1883cee1e?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1920&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=c0d43804e2c7c93143fe8ff65398c8e9);">
            <div class="container-fluid">
                <div class="row  justify-content-center align-items-center d-flex-row text-center h-100">
                    <div class="col-12 col-md-4 col-lg-3   h-50 ">
                        <div class="card shadow">
                            <div class="card-body mx-auto">
                                <h4 class="card-title mt-3 text-center">Registration</h4>
                                <form>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                                                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { placeholder = "FirstName", @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                                                </div>
                                                @Html.EditorFor(model => model.MiddleName, new { htmlAttributes = new { placeholder = "MiddleName", @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.MiddleName, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                                                    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { placeholder = "LastName", @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                                                </div>
                                                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { placeholder = "Address", @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                                                </div>
                                                @Html.EditorFor(model => model.City, new { htmlAttributes = new { placeholder = "City", @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                                        </div>
                                        @Html.EditorFor(model => model.DateofBirth, new { htmlAttributes = new { placeholder = "Date of Birth", @class = "form-control", @id = "datepicker" } })
                                        @Html.ValidationMessageFor(model => model.DateofBirth, "", new { @class = "text-danger" })
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                    <div class="form-group input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                                        </div>
                                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { placeholder = "Email", @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                                        </div>
                                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { placeholder = "Password", @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary btn-block"> Create </button>
                                    </div>
                                    <p class="text-center">
                                        Have an account?
                                        <a href="@Url.Action("Login","Account")">Log In</a>
                                    </p>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
}
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="~/Scripts/jquery-ui-1.13.0.min.js"></script>
<script>
    $(function () {
          $("#datepicker").datepicker({
            changeMonth: true,
            changeYear: true,
            showButtonPanel: true,
           yearRange: '1950:2013'
        });
    });
</script>
