@model IEnumerable<SurveyApplication.TblQuestion>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
<style>
    .dataTables_length {
        float: left;
        height: 2.5em;
        width: 40%;
    }
    .dataTables_filter {
        float: right !important;
    }
    div.dataTables_wrapper div.dataTables_paginate {
        float: unset;
        text-align: right;
        white-space: nowrap;
    }
</style>
<div class="container">
    <h2 style="text-align:center; margin-top:50px">Question List</h2>
    <table  id="myTable" class="display table">
        <thead>
            <tr>
                <th>QuestionId</th>
                <th>SurveyId</th>
                <th>Question</th>
                <th>ControlType</th>
                <th>ControlOptions</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.QueId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SurveyId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Question)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ControlType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ControlOptions)
                    </td>
                    <td>
                        @Html.ActionLink("Delete", "Delete", new { id = item.QueId }) 
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script>
        $('#myTable').DataTable({
            "dom": 'Blfrtip'
        });
        $('#myTable').DataTable().order([0, 'asc']).draw();
    </script>